form{
    display: relative;
    border: 1px solid #000;
    padding: 10px;
    padding-bottom: 0px;
}
.form-title{
    background-color: #fff;
    display: block;
    margin-top: -20px;
    width: fit-content;

}

button{
    margin-top: 10px;
    margin-bottom: 10px;
}